<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.custommapsapp.android"
    android:installLocation="auto"
    android:versionCode="126"
    android:versionName="1.6.2">
    <!-- Target and min API versions now in build.gradle file
         uses-sdk android:targetSdkVersion="28"
                  android:minSdkVersion="19"                   -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".CustomMapsApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/appicon"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CustomMaps"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>

                <!-- QR codes - http://www.custommapsapp.com/qr?url=http://host/path/file.kmz -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.custommapsapp.com"
                    android:pathPrefix="/qr"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>

                <!-- Local file support (for file managers and downloaded files) -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.kmz"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>

                <!-- Kmz file download support for Android apps (like Chrome, Gmail, Drive) -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="ftp" />
                <data android:scheme="http" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="application/vnd.google-earth.kmz" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutDisplay" />
        <activity
            android:name=".SelectMap"
            android:label="@string/select_map_name" />
        <activity
            android:name=".create.MapEditor"
            android:label="@string/create_map_name" />
        <activity
            android:name=".create.SelectImageFileActivity"
            android:label="@string/create_map_name" />
        <activity android:name=".create.SelectPdfPageActivity"/>
        <activity
            android:name=".create.BitmapPointActivity"
            android:label="@string/create_map_name" />
        <activity
            android:name=".create.TiePointActivity"
            android:label="@string/create_map_name" />
        <activity
            android:name=".create.PreviewMapActivity"
            android:label="@string/create_map_name" />
        <activity
            android:name=".KmzDownloader"
            android:configChanges="orientation|keyboard|keyboardHidden" />
        <activity
            android:name=".storage.EditPreferences"
            android:label="@string/edit_prefs_name" />

        <!-- FileProvider is needed to share map files -->
        <provider
            android:authorities="com.custommapsapp.android.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <!-- You need to provide your own Google Maps API license key in a resource
             file to display maps. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>
